{% if status %}
{% if sliders is not empty %}
<!-- Slider -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for slider in sliders if slider.sliderID is not null && slider.sliderStatus == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="{{loop.first ? 'active'}}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for slider in sliders if slider.sliderID is not null && slider.sliderStatus == 1 %}
                        <div class="carousel-item {{loop.first ? 'active'}}" style="background-image: url({{img(slider.sliderImg, 'sliders')}})"></div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Geri</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">İleri</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Slider -->
{% endif %}
{% endif %}