{% extends "content.twig" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-4">
            <div class="card p-3 shadow-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquid in atque dolorum hic neque unde ex, quisquam soluta voluptas officia magnam doloremque, quasi ducimus impedit voluptatibus sed, autem facere?
            </div>
        </div>
    </div>
</div>

{% endblock %}