{% extends "content.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 mt-4 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#egitimlerim" role="tab" data-toggle="tab">EĞİTİMLERİM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#result" role="tab" data-toggle="tab">SINAVLARIM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sertifikalarim" role="tab" data-toggle="tab">SERTİFİKALARIM</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="egitimlerim">
                                <h1 class="nav-link active nav-item" style="color: white;background-color: #c71537;font-size: 16px;height: 40px; padding-top: 10px;">POP-UP QUIZLER</h1>
                                <!--Popup Quizler-->
                                <div class="col-md-12 mt-3">
                                    <div class="banner3">
                                        <ul class="title">
                                            <li>QUIZ ADI</li>
                                            <li>KANAL</li>
                                            <li>SON TARİH</li>
                                            <li>SÜRE</li>
                                            <li>İŞLEM</li>
                                            <div class="clearfix"></div>
                                        </ul>
                                        <ul class="text">
                                            <li>30.04.2020 - End</li>
                                            <li>Industrial</li>
                                            <li>30/05/20</li>
                                            <li>5 dk.</li>
                                            <li class="btn"><a href="/popups/5eaa00d2f4364c05b6374c0a/submit" class="text-white">Quizi Başlat</a></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                        <ul class="text">
                                            <li>02.06.2020</li>
                                            <li>Industrial</li>
                                            <li>30/06/20</li>
                                            <li>5 dk.</li>
                                            <li class="btn"><a href="/popups/5ed57010f4364c05b6374d70/submit" class="text-white">Quizi Başlat</a></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <!--Popup Quizler-->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="result">
                                <ul class="title">
                                    <li>Sınav</li>
                                    <li>Soru Sayısı</li>
                                    <li>Doğru Cevap</li>
                                    <li>Yanlış Cevap</li>
                                    <li>Başarı Oranı</li>
                                    <li>Sonuç</li>
                                    <!--<li>Yanlışlar</li>-->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="sertifikalarim">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4" style="background-color: #f4980d;">
                    <div class="card calendar">
                        <div class="title">EĞİTİM TAKVİMİ</div>
                        <ul class="calendarTitle">
                            <li>EĞİTİM ADI</li>
                            <li>SEVİYE</li>
                            <li>TARİH</li>
                            <li class="hide">LOKASYON</li>
                            <li class="hide">SÜRE</li>
                            <!-- <li>İşlem</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-4 col-md-12">
            <div class="card toplist border mb-3">
                <div class="title">SON QUIZ EN İYİ 5 <span style="margin-top: -34px;font-size: 11px; display:block; color: black;">POP-UP QUIZ KATILIMCISI</span></div>
                <ul>
                    <li>
                        <span class="first">1</span><span class="second">Murat Gökoğlu</span><span class="third">5</span>
                    </li>
                    <li>
                        <span class="first">2</span><span class="second">İlker Erdem</span><span class="third">5</span>
                    </li>
                    <li>
                        <span class="first">3</span><span class="second">Yakup Kapıkıran</span><span class="third">4</span>
                    </li>
                    <li>
                        <span class="first">4</span><span class="second">Fatih Pabuççu</span><span class="third">4</span>
                    </li>
                    <li>
                        <span class="first">5</span><span class="second">Hüseyin Keskin</span><span class="third">4</span>
                    </li>
                </ul>
            </div>
            <div class="card toplist border mb-3">
                <div class="title">EN İYİ 5 <span style="margin-top: -34px;font-size: 11px; display:block; color: black;">POP-UP QUIZ KATILIMCISI</span></div>
                <ul>
                    <li>
                        <span class="first">1</span><span class="second">İlker Erdem</span><span class="third">53</span>
                    </li>
                    <li>
                        <span class="first">2</span><span class="second">Ufuk Akkoyun</span><span class="third">51</span>
                    </li>
                    <li>
                        <span class="first">3</span><span class="second">Yakup Kapıkıran</span><span class="third">50</span>
                    </li>
                    <li>
                        <span class="first">4</span><span class="second">Yakup Koban</span><span class="third">47</span>
                    </li>
                    <li>
                        <span class="first">5</span><span class="second">Onur Bulut </span><span class="third">46</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}